

h2, p, ol, ul, li {
    margin:0px;
    padding:0px;
    font-size:19px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
}

table {
    border-collapse: collapse;
}
th {
    background-color:#F0FFFF;
    color: #800000;
}
table, th, td {
   border: 3px solid black;
}
body{
	font-size:13px;
	font-weight:900;
	font-family:Arial, Helvetica, sans-serif;
	 color: #b0c4de;
	 background-image:url(${pageContext.request.contextPath}/css-files/brown.jpg)

}

 
#container {
	top :50px;
    width:95%;
    margin:auto;
    margin-top:100px;
}
 